<div id="article">
        <% @tweets.each do |tweet| %>
                <div class="tweet_sell">
                    <%= link_to tweet.content, tweet_path(tweet.id)%>
                </div>
        <% end %>
</div>