<div class="article">
    <table>
        <% @tweets.each do |tweet| %>
                <tr>
                    <td><%= link_to tweet.content, show_tweet_path(tweet.id)%></td>
                </tr>
        <% end %>
    </table>
</div>