/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    height: 100%
}

div#container {
    width: 1000px;
    margin: 0 auto;
}

div#container p.flash {
    color:rgb(0, 81, 255);
}

 div#header-menu {
    height: 50px;
    background-color:#00aeff;
    font-weight: bold; 
    color:white;
}

#header-logo {
    float: left;
    font-size: 25px;
    margin-top: 8px;
    margin-left: 10px;
}

#header-menu ul{ 
    float: right;
    font-size: 15px;
}

#header-menu li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-right: 25px;
}

div#footer {
    margin: 0 auto;
    text-align: center;
    clear: left;
    height: 100px;
    background-color: rgb(68, 68, 68);
    font-size: 20px;
    color:white;
}

div#footer p {
    display: inline-block;
    vertical-align: middle; 
    padding-top:20px;
}